---
layout: default
---

<div class="pile_menu">
  <ul>
    {% for item in site.poems reversed %}
    <li>
      <a href="#pile_{{item.title | remove: " "}}">
	<img src={{ "/images/" | append: item.image | absolute_url}} title="{{item.title}}"
	     alt="{{item.content}}"></img>
      </a>
      <div
	class="overlay"
	id="pile_{{item.title | remove: " "}}">
	<a href="#" class="close">⦻</a>
	<img src={{ "/images/" | append: item.image | absolute_url}} title="{{item.title}}"
	     alt="{{item.content}}"></img>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
