---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults
layout: default
---

<div class="hero">
  <H1> Pages and Pages </H1>
  <h2>A portfolio of confusion </h2>
  <a href={{"/my-story/" | absolute_url}} class="button">
    Learn More
  </a>
</div>

<div class="post_div">
  {% include posts.html %}
</div>
