---
title: A Bit About Li Michael Washington
permalink: /my-story/
layout: post
---

<h2></h2>

<p>
There's never a good way to tell anyone you're a writer.  They're
inevitably going to ask, "oh, have you been published?"  Sure, years
ago when publishing mattered and you could get away with not having a
social media presence and I was 18 and the internet was still "a fad"
that no one believed in.  Now I'm just some sad genderqueer turd who
writes flash fiction, short stories, and mediocre poetry because
writing is just who I am.  I can't imagine not being a writer.  It
would be like not breathing or not being the pedantic asshole that
reminded people that technically it's tomorrow now after midnight.
You don't have to read anything I write, because it's not about that.
It's just about writing it.
</p>

<ul class="social_bar">
  <li>
    <a
      target="_blank"
      href="https://www.instagram.com/{{ site.instagram }}/">
      📷 Instagram
    </a>
  </li>
  <li>
    <a
      target="_blank"
      href="https://paypal.me/LiMichaelWashington">
      💰 Donate
    </a>
  </li>
  <li>
    <a
      target="_blank"
      href="mailto:{{ site.email }}">
      📧 Email
    </a>
  </li>
</ul>

<div class="acknowledgements">
  <p>
    We would like to thank the Paula Tennet for
    <a target="_blank" href="https://www.dafont.com/cutehandwriting.font">
      Cute Handwritting Font</a> and FontPanda for
    <a target="_blank" href="https://www.dafont.com/morning-coffee.font"> Morning Coffee Font</a>
  </p>
</div>
