<header>
  <p class="site_title"> {{ site.title }} </p>
  <input type="checkbox" id="menu" />
  <label for="menu" id="hamburger"> ☰ </label>
  <nav>
    {% for item in site.data.navigation %}
    <a href="{{ item.link | absolute_url }}">
      <H4>
	{{item.name}}
      </H4>
    </a>
    {% endfor %}
  </nav>
</header>
