<ul class="post_grid">
  {% for post in site.stories %}
    <a href="{{site.url}}{{site.baseurl}}{{post.url}}">
      <li>
	<img title="{{post.excerpt | strip_html}}" src="{{site.url}}{{site.baseurl}}/images/{{post.image}}" />
	<h2>{{ post.title }}</h2>
	<!-- <p>{{ post.excerpt }}</p> -->
      </li>
    </a>
  {% endfor %}
</ul>
