$assets_url: "https://rprospero.gitlab.io/poetry-site";
$base_color: white;
$base_bg: black;
$phone_size: 400px;
$textwidth: 80ch;

@font-face {
    font-family: 'hand';
    src: url('../fonts/cutehandwriting-webfont.woff2') format('woff2'),
	 url('../fonts/cutehandwriting-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fancy-hand';
    src: url('../fonts/coffee.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'fancy-hand', sans-serif;
}

body {
    background-image: url(#{$assets_url}/images/Home.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: $base_color;
    background-color: $base_bg;
    font-family: 'hand', sans-serif;
    text-rendering: optimizeLegibility;
    @media  (-webkit-min-device-pixel-ratio: 2),
	    (min-resolution: 192dpi){
	font-size: 3vh;
    }
}

footer {
    margin-top: 2em;
    width: 100%;
    text-align: center;
}


a:visited {
    color: $base_color;
}

a {
    color: $base_color;
    text-decoration-line: none;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
    background-color: $base_bg;
    color: $base_color;
    text-align: center;
    line-height: 0;
    .site_title {
	display: none;
	font-size: larger;
	width:100%;
	@media (min-device-width: $phone_size) {
	    display: block;
	}
    }
    #hamburger {
	height: 3em;
	line-height: 1;
	font-size: 5vh;
    }
    @media (min-device-width: $phone_size) {
	height: 4.5em;
	font-size: larger;
	#hamburger {
	    display: none;
	    font-size: inherit;
	}
    }
    nav {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: $base_bg;
	font-size: 5vh;
	@media (min-device-width: $phone_size) {
	    font-size: inherit;
	    height: 3.0em;
	    flex-direction: row;
	}
    }
    input {
	display: none;
    }
    @media (max-device-width: $phone_size) {
	input + label + nav {
	    height: 0px;
	    transition: 900ms ease all;
	}
	input:checked + label + nav {
	    height: 15.0em;
	    transition: 900ms ease all;
	}
    }
}

main {
    // height: 100%;
    font-family: "hand", sans-serif;
    article {
	@media (min-device-width: $phone_size) {
	    text-align: justify;
	    max-width: $textwidth;
	    margin-left: auto;
	    margin-right: auto;
	    padding-left: calc(35% - #{$textwidth}/2);
	    padding-right: calc(35% - #{$textwidth}/2);
	    padding-top: 1em;
	    padding-bottom: 1em;
	}
	background-color: rgba(0,0,0,0.9);
    }
    margin-top: 7.0em;
    @media (min-device-width: $phone_size) {
	margin-top: 9.0em;
    }
    min-height: 80vh;
}

// Front page

.hero {
    width: 100vw;
    padding-top: 10vh;
    min-height: 60vh;
    text-align: center;
    h1 {
	font-size: 4em;
    }
    h2 {
	font-size: 2em;
    }
    .button {
	border-color: $base_color;
	border-width: 2px;
	border-style: solid;
	padding: 1ch;
    }
}

// Posts

.post_div {
}

ul.post_grid {
  display: flex;
  color: $base_color;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  list-style: none;
  li {
      position: relative;
      img {
	width: 66vw;
	height: 66vw;
	background-size: 100%;
	@media (min-device-width: 600px) {
	    width: 400px;
	    height: 400px;
	}
      }
      h2 {
	position: absolute;
	bottom: 0;
      }
  }
}

// Pile

.pile_menu {
    ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
    }
    li {
	width: 40%;
	overflow: hidden;
	padding-top: 3vh;
	padding-bottom: 3vh;
    }
    h2 {
	text-align:center;
	width: 100%
    }
    img {
	width: 100%;
    }
}

.pile_local {
    float: left;
}

.overlay {
    display: none;
}

.overlay:target {
    display: block;
    z-index: 1000;
    top: 0%;
    left: 0%;
    height: 150%;
    width: 100%;
    position: absolute;
    background: #00000080;
    &:before {
	content: '';
	width: calc(50vw - 40vh);
	min-width: 10vw;
	// max-width: 10vw;
	display: inline-block;
    }
    &:after {
	content: '';
	width: calc(50vw - 40vh);
	min-width: 10vw;
	// max-width: 10vw;
	display: inline-block;
    }
    img {
	max-height: 80vh;
	max-width: 80vw;
	width: auto;
	height: auto;
    }
}

a.close {
    font-size: 4em;
    display: block;
    position: absolute;
    top: 1ch;
    right: 1ch;
}

ul.social_bar {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
    // li {
    // }
}

dt a {
    text-decoration: underline;
}

.acknowledgements {
    font-size: smaller;
    margin-top: 10vh;
    width: 50%;
    a {
      text-decoration: underline;
    }
};
