<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }} - {{ page.title }}</title>

    <link rel="stylesheet" href={{"/css/style.css" | absolute_url }} type="text/css">
  </head>
  <body>
    {% include navigation.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
