<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }} - {{ page.title }}</title>

    <link rel="stylesheet" href={{"/css/style.css" | absolute_url}} type="text/css">
  </head>
  <body>
    {% include navigation.html %}
    <div class="content">
      <image src='{{ "/images/" | append: page.image | absolute_url}}' class="pile_local"/>
      <div class="main_text">
	{{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
